.waarnemingen {
    float: right;
    width: 80%;
}

.waarneming {    
    width: 110px;
    height: 110px;
    background-color: #317ec6;
    color: white;
    display: inline-block;
    margin: 7px;
    text-align: center;
    padding-top: 10px;

    span {        
        font-size: 12px;
    }

    p {                
        text-align: left;
        font-size: 40px;
        font-weight: bold;
        margin-top: 30px;
    }
}