.tellingen {
    position: fixed;
    width: 20%;
}

table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 7px;
}

tr {
    background-color: white;

    td:first-child {
        text-align: right;
        padding-right: 5px;
    }

    td{
        padding: 5px 0 5px 0;
    }
}
tr.blue {
    color:white;
    background-color: #317ec6;
}
tr.active {
    background-color: orange;
}